/train/datasets/*

!/train/datasets/info.txt

__pycache__/
*.py[cod]
*$py.class

/translator/.env

.env

testarOCR_JP.txt
# pesos de inpainting (baixados a parte)
inpaint/models/*.pt
inpaint/models/*.onnx
inpaint/models/*.ckpt

Tesseract.txt